In [278]:
# Load Data

from FlightRadar24.api import FlightRadar24API
fr_api = FlightRadar24API()


airports = fr_api.get_airports()

airlines = fr_api.get_airlines()

flights = fr_api.get_flights()

zones = fr_api.get_zones()

In [81]:
# SparkSession

from pyspark.sql.types import *

from pyspark.sql import Row, SparkSession

spark = SparkSession.builder.getOrCreate()

In [82]:
# Transform airports data list into spark dataframe

airports_schema = StructType([StructField("name", StringType(), True)\
                       ,StructField("iata", StringType(), True)\
                       ,StructField("icao", StringType(), True)\
                       ,StructField("lat", StringType(), True)\
                       ,StructField("lon", StringType(), True)\
                       ,StructField("country", StringType(), True)\
                       ,StructField("alt", StringType(), True)])

airports_df = spark.createDataFrame(data = airports, schema=airports_schema)

In [83]:
# Transform airlines data list into spark dataframe

airlines_schema = StructType([StructField("Name", StringType(), True)\
                       ,StructField("Code", StringType(), True)\
                       ,StructField("ICAO", StringType(), True)])

airlines_df = spark.createDataFrame(data = airlines, schema = airlines_schema)

In [84]:
# Transform flights data list into spark dataframe

flights_df = spark.createDataFrame(flights)

In [85]:
# Transform flights data list into spark dataframe

flights_df = spark.createDataFrame(flights)

In [86]:
flights_df = spark.createDataFrame(data = flights)

In [89]:
from pyspark.sql.functions import *

df = flights_df.groupBy('airline_icao').count().sort(desc("count"))

In [98]:
df.show(2)

+------------+-----+
|airline_icao|count|
+------------+-----+
|         N/A|  251|
|         AAL|   82|
+------------+-----+
only showing top 2 rows

In [99]:
print(df.where(df.airline_icao != "N/A").collect()[0]["airline_icao"])

AAL

In [53]:
zones = fr_api.get_zones()
zones

{'europe': {'tl_y': 72.57,
  'tl_x': -16.96,
  'br_y': 33.57,
  'br_x': 53.05,
  'subzones': {'poland': {'tl_y': 56.86,
    'tl_x': 11.06,
    'br_y': 48.22,
    'br_x': 28.26},
   'germany': {'tl_y': 57.92, 'tl_x': 1.81, 'br_y': 45.81, 'br_x': 16.83},
   'uk': {'tl_y': 62.61,
    'tl_x': -13.07,
    'br_y': 49.71,
    'br_x': 3.46,
    'subzones': {'london': {'tl_y': 53.06,
      'tl_x': -2.87,
      'br_y': 50.07,
      'br_x': 3.26},
     'ireland': {'tl_y': 56.22, 'tl_x': -11.71, 'br_y': 50.91, 'br_x': -4.4}}},
   'spain': {'tl_y': 44.36, 'tl_x': -11.06, 'br_y': 35.76, 'br_x': 4.04},
   'france': {'tl_y': 51.07, 'tl_x': -5.18, 'br_y': 42.17, 'br_x': 8.9},
   'ceur': {'tl_y': 51.39, 'tl_x': 11.25, 'br_y': 39.72, 'br_x': 32.55},
   'scandinavia': {'tl_y': 72.12, 'tl_x': -0.73, 'br_y': 53.82, 'br_x': 40.67},
   'italy': {'tl_y': 47.67, 'tl_x': 5.26, 'br_y': 36.27, 'br_x': 20.64}}},
 'northamerica': {'tl_y': 75,
  'tl_x': -180,
  'br_y': 3,
  'br_x': -52,
  'subzones': {'na_n': {'tl_y': 72.82,
    'tl_x': -177.97,
    'br_y': 41.92,
    'br_x': -52.48},
   'na_c': {'tl_y': 54.66,
    'tl_x': -134.68,
    'br_y': 22.16,
    'br_x': -56.91,
    'subzones': {'na_cny': {'tl_y': 45.06,
      'tl_x': -83.69,
      'br_y': 35.96,
      'br_x': -64.29},
     'na_cla': {'tl_y': 37.91,
      'tl_x': -126.12,
      'br_y': 30.21,
      'br_x': -110.02},
     'na_cat': {'tl_y': 35.86, 'tl_x': -92.61, 'br_y': 22.56, 'br_x': -71.19},
     'na_cse': {'tl_y': 49.12,
      'tl_x': -126.15,
      'br_y': 42.97,
      'br_x': -111.92},
     'na_nw': {'tl_y': 54.12, 'tl_x': -134.13, 'br_y': 38.32, 'br_x': -96.75},
     'na_ne': {'tl_y': 53.72, 'tl_x': -98.76, 'br_y': 38.22, 'br_x': -57.36},
     'na_sw': {'tl_y': 38.92, 'tl_x': -133.98, 'br_y': 22.62, 'br_x': -96.75},
     'na_se': {'tl_y': 38.52, 'tl_x': -98.62, 'br_y': 22.52, 'br_x': -57.36},
     'na_cc': {'tl_y': 45.92,
      'tl_x': -116.88,
      'br_y': 27.62,
      'br_x': -75.91}}},
   'na_s': {'tl_y': 41.92, 'tl_x': -177.83, 'br_y': 3.82, 'br_x': -52.48}}},
 'southamerica': {'tl_y': 16, 'tl_x': -96, 'br_y': -57, 'br_x': -31},
 'oceania': {'tl_y': 19.62, 'tl_x': 88.4, 'br_y': -55.08, 'br_x': 180},
 'asia': {'tl_y': 79.98,
  'tl_x': 40.91,
  'br_y': 12.48,
  'br_x': 179.77,
  'subzones': {'japan': {'tl_y': 60.38,
    'tl_x': 113.5,
    'br_y': 22.58,
    'br_x': 176.47}}},
 'africa': {'tl_y': 39, 'tl_x': -29, 'br_y': -39, 'br_x': 55},
 'atlantic': {'tl_y': 52.62, 'tl_x': -50.9, 'br_y': 15.62, 'br_x': -4.75},
 'maldives': {'tl_y': 10.72, 'tl_x': 63.1, 'br_y': -6.08, 'br_x': 86.53},
 'northatlantic': {'tl_y': 82.62, 'tl_x': -84.53, 'br_y': 59.02, 'br_x': 4.45}}

In [54]:
spark.createDataFrame(zones)

TypeError: Can not infer schema for type: <class 'str'>

In [101]:
flights_df.show(3)

+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
|aircraft_code|airline_iata|airline_icao|altitude|callsign|destination_airport_iata|ground_speed|heading|icao_24bit|      id|latitude|longitude|number|on_ground|origin_airport_iata|registration|squawk|      time|vertical_speed|
+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
|         BALL|         N/A|         N/A|   54800| HBAL604|                     N/A|           9|    180|    A2680B|2d81d336| 27.3628|  -84.028|   N/A|        0|                N/A|      N254TH|   N/A|1664119986|             0|
|         GLID|         N/A|         N/A|     764| BPOLTWR|                     N/A|           1|    322|    D00804|2d89196d| 51.3605|    9.502|   N/A|        0|                N/A|     BPOLTWR|   N/A|1664119978|             0|
|         GLID|         N/A|         N/A|    2290| WINDRAD|                     N/A|           1|    211|    D017B3|2d8919ab| 51.2545|     9.66|   N/A|        0|                N/A|     WINDRAD|   N/A|1664119932|             0|
+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
only showing top 3 rows

In [105]:
airports_df.show(3)

+--------------------+----+----+---------+---------+-------+----+
|                name|iata|icao|      lat|      lon|country| alt|
+--------------------+----+----+---------+---------+-------+----+
|\tMasai Mara Keek...| KEU|HKKE|-1.586377|35.257462|  Kenya|5532|
|    A Coruna Airport| LCG|LECO|43.302059| -8.37725|  Spain| 326|
|Aachen Merzbruck ...| AAH|EDKA|50.823051| 6.186111|Germany| 623|
+--------------------+----+----+---------+---------+-------+----+
only showing top 3 rows

In [122]:
airlines_df.show(2)

+---------------+----+----+
|           Name|Code|ICAO|
+---------------+----+----+
|         21 Air|  2I| CSB|
|25only Aviation|  4Q| ONY|
+---------------+----+----+
only showing top 2 rows

In [123]:
flights_df.show(10)

+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
|aircraft_code|airline_iata|airline_icao|altitude|callsign|destination_airport_iata|ground_speed|heading|icao_24bit|      id|latitude|longitude|number|on_ground|origin_airport_iata|registration|squawk|      time|vertical_speed|
+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
|         BALL|         N/A|         N/A|   54800| HBAL604|                     N/A|           9|    180|    A2680B|2d81d336| 27.3628|  -84.028|   N/A|        0|                N/A|      N254TH|   N/A|1664119986|             0|
|         GLID|         N/A|         N/A|     764| BPOLTWR|                     N/A|           1|    322|    D00804|2d89196d| 51.3605|    9.502|   N/A|        0|                N/A|     BPOLTWR|   N/A|1664119978|             0|
|         GLID|         N/A|         N/A|    2290| WINDRAD|                     N/A|           1|    211|    D017B3|2d8919ab| 51.2545|     9.66|   N/A|        0|                N/A|     WINDRAD|   N/A|1664119932|             0|
|          N/A|         N/A|         N/A|    2188| WINDRAD|                     N/A|           1|    271|    D0183D|2d8d0da2| 51.2371|   9.7025|   N/A|        0|                N/A|         N/A|   N/A|1664119954|             0|
|          N/A|         N/A|         N/A|       0|     N/A|                     N/A|           0|    349|    4A7C1A|2d8f3e01|  44.572|  26.1091|   N/A|        1|                N/A|         N/A|   N/A|1664119987|             0|
|          N/A|         N/A|         N/A|       0|     N/A|                     N/A|          40|     87|    4A7C14|2d92772c|  44.579|  26.0989|   N/A|        1|                N/A|         N/A|   N/A|1664119989|             0|
|         GLID|         N/A|         N/A|     370| FOXTRAN|                     N/A|           1|    180|  104AFFFF|2d92be0a| 52.1006|  21.0021|   N/A|        0|                N/A|     FOXTRAN|   N/A|1664119977|             0|
|         GLID|         N/A|         N/A|    1932| WINDRAD|                     N/A|           1|     26|    D017AE|2d95d833| 51.4372|  10.2092|   N/A|        0|                N/A|     WINDRAD|   N/A|1664119985|             0|
|         GRND|         N/A|         N/A|       0|  ESC724|                     N/A|           0|    271|    C1E4A9|2d967d10| 45.4566| -73.7271|   N/A|        1|                N/A|         N/A|   N/A|1664119968|             0|
|         GLID|         N/A|         N/A|    1322| WINDRAD|                     N/A|           1|     89|    D0111B|2d96d887| 51.8281|  10.1177|   N/A|        0|                N/A|     WINDRAD|   N/A|1664119952|            64|
+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
only showing top 10 rows

In [119]:
flights.show()

+--------------------+----+----+
|                Name|Code|ICAO|
+--------------------+----+----+
|              21 Air|  2I| CSB|
|     25only Aviation|  4Q| ONY|
|     2Excel Aviation|    | BRO|
|         40-Mile Air|  Q5| MLA|
|    748 Air Services|  FE| IHO|
|               9 Air|  AQ| JYH|
|          Abakan Air|  S5| NKP|
|            ABS Jets|    | ABP|
|  Abu Dhabi Aviation|    | BAR|
|             ABX Air|  GB| ABX|
|       Acass Ireland|    | SON|
|        Advanced Air|  AN| WSN|
|     Aegean Airlines|  A3| AEE|
|          Aer Lingus|  EI| EIN|
|       Aer Lingus UK|  EG| EUK|
|           AerCaribe|  JK| ACL|
|                Aero|  TD| BLK|
|                Aero|  N2| NIG|
|Aero Asahi Corpor...|    | AKF|
|        Aero Charter|    | GLT|
+--------------------+----+----+
only showing top 20 rows

In [129]:
type(zones['europe']['subzones'])

dict

In [144]:
zones['europe']['subzones'].keys()

dict_keys(['poland', 'germany', 'uk', 'spain', 'france', 'ceur', 'scandinavia', 'italy'])

In [153]:
flights_df

DataFrame[aircraft_code: string, airline_iata: string, airline_icao: string, altitude: bigint, callsign: string, destination_airport_iata: string, ground_speed: bigint, heading: bigint, icao_24bit: string, id: string, latitude: double, longitude: double, number: string, on_ground: bigint, origin_airport_iata: string, registration: string, squawk: string, time: bigint, vertical_speed: bigint]

In [152]:
airports_df

DataFrame[name: string, iata: string, icao: string, lat: string, lon: string, country: string, alt: string]

In [170]:
flights_df.registerTempTable('flights')
airports_df.registerTempTable('airports')

/Users/kevin/Library/Python/3.8/lib/python/site-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [174]:
airlines_df.show(2)

+---------------+----+----+
|           Name|Code|ICAO|
+---------------+----+----+
|         21 Air|  2I| CSB|
|25only Aviation|  4Q| ONY|
+---------------+----+----+
only showing top 2 rows

In [180]:
dff =spark.sql('select airline_icao, origin_airport_iata, country as origin_country, destination_airport_iata from flights left join airports on flights.origin_airport_iata = airports.iata')

In [181]:
dff.show(2)

+------------+------------------------+-------------------+--------------+
|airline_icao|destination_airport_iata|origin_airport_iata|origin_country|
+------------+------------------------+-------------------+--------------+
|         FDX|                     CAN|                ANC| United States|
|         FFT|                     DEN|                ATL| United States|
+------------+------------------------+-------------------+--------------+
only showing top 2 rows

In [186]:
dff.registerTempTable('flightss')
dfff = spark.sql('select airline_icao, origin_airport_iata, origin_country, destination_airport_iata, country as destination_country from flightss left join airports on flightss.destination_airport_iata = airports.iata')

/Users/kevin/Library/Python/3.8/lib/python/site-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [187]:
dfff.show(20)

+------------+-------------------+--------------+------------------------+-------------------+
|airline_icao|origin_airport_iata|origin_country|destination_airport_iata|destination_country|
+------------+-------------------+--------------+------------------------+-------------------+
|         N/A|                LAS| United States|                     N/A|               null|
|         FFT|                DEN| United States|                     HOU|      United States|
|         N/A|                N/A|          null|                     N/A|               null|
|         N/A|                N/A|          null|                     N/A|               null|
|         N/A|                N/A|          null|                     N/A|               null|
|         N/A|                N/A|          null|                     N/A|               null|
|         N/A|                N/A|          null|                     N/A|               null|
|         N/A|                N/A|          null|                     N/A|               null|
|         N/A|                N/A|          null|                     N/A|               null|
|         N/A|                N/A|          null|                     N/A|               null|
|         N/A|                N/A|          null|                     N/A|               null|
|         N/A|                N/A|          null|                     N/A|               null|
|         N/A|                N/A|          null|                     N/A|               null|
|         N/A|                N/A|          null|                     N/A|               null|
|         N/A|                N/A|          null|                     N/A|               null|
|         N/A|                N/A|          null|                     N/A|               null|
|         N/A|                N/A|          null|                     N/A|               null|
|         FDX|                MEM| United States|                     N/A|               null|
|         DAL|                ATL| United States|                     JNB|       South Africa|
|         FDX|                IND| United States|                     OAK|      United States|
+------------+-------------------+--------------+------------------------+-------------------+
only showing top 20 rows

In [164]:
flights_df.count()

1500

In [169]:
flights_df.show(5)

+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
|aircraft_code|airline_iata|airline_icao|altitude|callsign|destination_airport_iata|ground_speed|heading|icao_24bit|      id|latitude|longitude|number|on_ground|origin_airport_iata|registration|squawk|      time|vertical_speed|
+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
|         BALL|         N/A|         N/A|   54800| HBAL604|                     N/A|           9|    180|    A2680B|2d81d336| 27.3628|  -84.028|   N/A|        0|                N/A|      N254TH|   N/A|1664119986|             0|
|         GLID|         N/A|         N/A|     764| BPOLTWR|                     N/A|           1|    322|    D00804|2d89196d| 51.3605|    9.502|   N/A|        0|                N/A|     BPOLTWR|   N/A|1664119978|             0|
|         GLID|         N/A|         N/A|    2290| WINDRAD|                     N/A|           1|    211|    D017B3|2d8919ab| 51.2545|     9.66|   N/A|        0|                N/A|     WINDRAD|   N/A|1664119932|             0|
|          N/A|         N/A|         N/A|    2188| WINDRAD|                     N/A|           1|    271|    D0183D|2d8d0da2| 51.2371|   9.7025|   N/A|        0|                N/A|         N/A|   N/A|1664119954|             0|
|          N/A|         N/A|         N/A|       0|     N/A|                     N/A|           0|    349|    4A7C1A|2d8f3e01|  44.572|  26.1091|   N/A|        1|                N/A|         N/A|   N/A|1664119987|             0|
+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
only showing top 5 rows

In [167]:
dff.show(1)

+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+--------------------+----+----+---------+----------+-------------+----+--------------+
|aircraft_code|airline_iata|airline_icao|altitude|callsign|destination_airport_iata|ground_speed|heading|icao_24bit|      id|latitude|longitude|number|on_ground|origin_airport_iata|registration|squawk|      time|vertical_speed|                name|iata|icao|      lat|       lon|      country| alt|origin_country|
+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+--------------------+----+----+---------+----------+-------------+----+--------------+
|         A20N|          F9|         FFT|   36000|  FFT421|                     DEN|         410|    286|    A466FC|2d99b2dd| 37.8226| -99.8357| F9421|        0|                ATL|      N383FR|   N/A|1664119988|             0|Atlanta Hartsfiel...| ATL|KATL|33.636719|-84.428001|United States|1026| United States|
+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+--------------------+----+----+---------+----------+-------------+----+--------------+
only showing top 1 row

In [194]:
zones['asia']

{'tl_y': 79.98,
 'tl_x': 40.91,
 'br_y': 12.48,
 'br_x': 179.77,
 'subzones': {'japan': {'tl_y': 60.38,
   'tl_x': 113.5,
   'br_y': 22.58,
   'br_x': 176.47}}}

In [202]:
flights_df.registerTempTable('flights')
airports_df.registerTempTable('airports')
#flights_origin_country = spark.sql('select airline_icao, origin_airport_iata, country as origin_country, destination_airport_iata from flights left join airports on flights.origin_airport_iata = airports.iata')
flights_origin_country = spark.sql('select *, country as origin_country from flights left join airports on flights.origin_airport_iata = airports.iata')
flights_origin_country.registerTempTable('flights_origin_country')
#flights_origin_dest_country = spark.sql('select airline_icao, origin_airport_iata, origin_country, destination_airport_iata, country as destination_country from flights_origin_country left join airports on flights_origin_country.destination_airport_iata = airports.iata')
flights_origin_dest_country = spark.sql('select *, airports.country as destination_country from flights_origin_country left join airports on flights_origin_country.destination_airport_iata = airports.iata')
flights_origin_dest_country = flights_origin_dest_country.na.drop(subset=["origin_country", "destination_country"])
flights_origin_dest_country.show(20)

+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+--------------------+----+----+----------+----------+--------------------+----+--------------------+--------------------+----+----+----------+-----------+--------------------+----+--------------------+
|aircraft_code|airline_iata|airline_icao|altitude|callsign|destination_airport_iata|ground_speed|heading|icao_24bit|      id|latitude|longitude|number|on_ground|origin_airport_iata|registration|squawk|      time|vertical_speed|                name|iata|icao|       lat|       lon|             country| alt|      origin_country|                name|iata|icao|       lat|        lon|             country| alt| destination_country|
+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+--------------------+----+----+----------+----------+--------------------+----+--------------------+--------------------+----+----+----------+-----------+--------------------+----+--------------------+
|         B789|          AC|         ACA|    2725|   ACA50|                     DEL|         173|    284|    C0293E|2d98ed71| 28.5278|  77.2553|  AC50|        0|                YUL|      C-FPQB|   N/A|1664119989|             0|Montreal Pierre E...| YUL|CYUL| 45.470551|-73.740799|              Canada| 118|              Canada|Delhi Indira Gand...| DEL|VIDP|   28.5665|  77.103081|               India| 777|               India|
|         B789|          EY|         ETD|   37996|  ETD141|                     YYZ|         516|    254|    8964BF|2d9932ee| 53.1211| -49.3288| EY141|        0|                AUH|      A6-BLO|   N/A|1664119986|             0|Abu Dhabi Interna...| AUH|OMAA|  24.43297| 54.651131|United Arab Emirates|  88|United Arab Emirates|Toronto Pearson I...| YYZ|CYYZ| 43.680634| -79.627007|              Canada| 569|              Canada|
|         A35K|          EY|         ETD|   38036|  ETD93C|                     ORD|         504|    270|    89659C|2d994372| 53.9797| -40.4398| EY151|        0|                AUH|      A6-XWF|   N/A|1664119986|             0|Abu Dhabi Interna...| AUH|OMAA|  24.43297| 54.651131|United Arab Emirates|  88|United Arab Emirates|Chicago O'Hare In...| ORD|KORD| 41.978142|   -87.9058|       United States| 672|       United States|
|         B77W|          EY|         ETD|   35000|  ETD462|                     MEL|         568|    109|    896327|2d994ce1|-25.4853| 113.0472| EY462|        0|                AUH|      A6-ETJ|   N/A|1664119988|             0|Abu Dhabi Interna...| AUH|OMAA|  24.43297| 54.651131|United Arab Emirates|  88|United Arab Emirates|   Melbourne Airport| MEL|YMML|-37.673302| 144.843307|           Australia| 434|           Australia|
|         A35K|          EY|         ETD|   38000|  ETD11B|                     JFK|         524|    280|    89659B|2d994eff| 49.4769| -33.0961| EY101|        0|                AUH|      A6-XWE|   N/A|1664119982|             0|Abu Dhabi Interna...| AUH|OMAA|  24.43297| 54.651131|United Arab Emirates|  88|United Arab Emirates|New York John F. ...| JFK|KJFK| 40.639751|   -73.7789|       United States|  14|       United States|
|         B77W|          SV|         SVA|   34000|  SVA035|                     IAD|         461|    250|    710063|2d99474a|  46.977| -50.0954|  SV35|        0|                JED|     HZ-AK23|   N/A|1664119987|             0|Jeddah King Abdul...| JED|OEJN|  21.67956| 39.156528|        Saudi Arabia|  48|        Saudi Arabia|Washington Dulles...| IAD|KIAD| 38.947441|   -77.4599|       United States| 312|       United States|
|         B77W|          SV|         SVA|    6475|  SVA826|                     CGK|         237|    151|    710060|2d994a7b| -5.7438| 106.7733| SV826|        0|                JED|     HZ-AK21|   N/A|1664119986|          -576|Jeddah King Abdul...| JED|OEJN|  21.67956| 39.156528|        Saudi Arabia|  48|        Saudi Arabia|Jakarta Soekarno ...| CGK|WIII|  -6.12556|   106.6558|           Indonesia|  34|           Indonesia|
|         B744|          LH|         DLH|   35000|  DLH754|                     BLR|         540|    115|    3C4ADA|2d993b41| 37.8563|  48.2373| LH754|        0|                FRA|      D-ABVZ|   N/A|1664119987|             0|   Frankfurt Airport| FRA|EDDF| 50.037796|  8.555783|             Germany| 364|             Germany|Bengaluru Kempego...| BLR|VOBL| 13.198889|  77.705559|               India|3002|               India|
|         B77W|          TK|         THY|    6900|    THY3|                     JFK|         270|    312|    4BA94C|2d991cd8| 40.6932| -73.2385|   TK3|        0|                IST|      TC-JJL|   N/A|1664119988|          -960|    Istanbul Airport| IST|LTFM| 41.267052| 28.729757|              Turkey| 325|              Turkey|New York John F. ...| JFK|KJFK| 40.639751|   -73.7789|       United States|  14|       United States|
|         B789|         N/A|         THY|   40000|  THY4HK|                     IAH|         430|    248|    4BB190|2d992d5c| 41.5762| -76.9761|   N/A|        0|                IST|      TC-LLP|   N/A|1664119987|           -64|    Istanbul Airport| IST|LTFM| 41.267052| 28.729757|              Turkey| 325|              Turkey|Houston George Bu...| IAH|KIAH|  29.98443|   -95.3414|       United States|  96|       United States|
|         B789|         N/A|         THY|   14925|  THY3EM|                     IAD|         304|    238|    4BB18D|2d992e76| 39.9443| -76.6707|   N/A|        0|                IST|      TC-LLM|   N/A|1664119986|          -384|    Istanbul Airport| IST|LTFM| 41.267052| 28.729757|              Turkey| 325|              Turkey|Washington Dulles...| IAD|KIAD| 38.947441|   -77.4599|       United States| 312|       United States|
|         B789|          TK|         THY|   40000|  THY73G|                     SFO|         497|    220|    4BB186|2d993193| 56.5051|-104.3877| TK289|        0|                IST|      TC-LLF|   N/A|1664119983|             0|    Istanbul Airport| IST|LTFM| 41.267052| 28.729757|              Turkey| 325|              Turkey|San Francisco Int...| SFO|KSFO| 37.618969|-122.374001|       United States|  13|       United States|
|         B77W|         N/A|         THY|   34000|  THY8MT|                     LAX|         490|    215|    4BA947|2d993240| 57.6001|  -99.242|   N/A|        0|                IST|      TC-JJG|   N/A|1664119986|             0|    Istanbul Airport| IST|LTFM| 41.267052| 28.729757|              Turkey| 325|              Turkey|Los Angeles Inter...| LAX|KLAX|  33.94252|-118.406998|       United States| 125|       United States|
|         B77W|          TK|         THY|   34000|  THY800|                     BOG|         467|    232|    4BA94A|2d994b3c| 25.9471| -50.1219| TK800|        0|                IST|      TC-JJJ|   N/A|1664119986|             0|    Istanbul Airport| IST|LTFM| 41.267052| 28.729757|              Turkey| 325|              Turkey|Bogota El Dorado ...| BOG|SKBO|  4.703056| -74.138298|            Colombia|8361|            Colombia|
|         B77W|          KU|         KAC|   36000|  KAC117|                     JFK|         471|    236|    70605F|2d993631| 50.6543| -57.2176| KU117|        0|                KWI|      9K-AOM|   N/A|1664119987|           -64|Kuwait Internatio...| KWI|OKBK| 29.226561| 47.968922|              Kuwait| 206|              Kuwait|New York John F. ...| JFK|KJFK| 40.639751|   -73.7789|       United States|  14|       United States|
|         B77W|          EK|         UAE|   35000|  UAE262|                     DXB|         493|     71|    89644F|2d9922aa| 20.1198|  34.7263| EK262|        0|                GRU|      A6-EPZ|   N/A|1664119986|             0|Sao Paulo Guarulh...| GRU|SBGR|-23.431999|-46.469501|              Brazil|2459|              Brazil|Dubai Internation...| DXB|OMDB| 25.252769|  55.364441|United Arab Emirates|  62|United Arab Emirates|
|         B788|          ET|         ETH|   39000|  ETH507|                     ADD|         486|     38|    04004B|2d9929b2|  4.1422|  34.8808| ET507|        0|                GRU|      ET-AOU|   N/A|1664119982|             0|Sao Paulo Guarulh...| GRU|SBGR|-23.431999|-46.469501|              Brazil|2459|              Brazil|Addis Ababa Bole ...| ADD|HAAB|  8.977889|  38.799309|            Ethiopia|7656|            Ethiopia|
|         B77W|          QR|         QTR|   34804|  QTR774|                     DOH|         480|     53|    06A2B8|2d994487|  9.5539|  26.2916| QR774|        0|                GRU|      A7-BET|   N/A|1664119982|             0|Sao Paulo Guarulh...| GRU|SBGR|-23.431999|-46.469501|              Brazil|2459|              Brazil|Doha Hamad Intern...| DOH|OTHH| 25.272524|  51.608604|               Qatar|  13|               Qatar|
|         B77W|          LX|         SWR|   38000|  SWR161|                     ZRH|         531|    178|    4B191E|2d98fba7|  53.054|   9.2839| LX161|        0|                NRT|      HB-JNI|   N/A|1664119987|             0|Tokyo Narita Inte...| NRT|RJAA| 35.764721|140.386307|               Japan| 135|               Japan|      Zurich Airport| ZRH|LSZH| 47.464722|   8.549167|         Switzerland|1416|         Switzerland|
|         B772|          OS|         AUA|   38000|   AUA52|                     VIE|         438|    278|    4408FB|2d99090a| 42.5939|  30.4613|  OS52|        0|                NRT|      OE-LPF|   N/A|1664119966|             0|Tokyo Narita Inte...| NRT|RJAA| 35.764721|140.386307|               Japan| 135|               Japan|Vienna Internatio...| VIE|LOWW| 48.110271|  16.569719|             Austria| 600|             Austria|
+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+--------------------+----+----+----------+----------+--------------------+----+--------------------+--------------------+----+----+----------+-----------+--------------------+----+--------------------+
only showing top 20 rows

In [212]:
flights_df

DataFrame[aircraft_code: string, airline_iata: string, airline_icao: string, altitude: bigint, callsign: string, destination_airport_iata: string, ground_speed: bigint, heading: bigint, icao_24bit: string, id: string, latitude: double, longitude: double, number: string, on_ground: bigint, origin_airport_iata: string, registration: string, squawk: string, time: bigint, vertical_speed: bigint]

In [216]:
flights_df.show(20)

+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
|aircraft_code|airline_iata|airline_icao|altitude|callsign|destination_airport_iata|ground_speed|heading|icao_24bit|      id|latitude|longitude|number|on_ground|origin_airport_iata|registration|squawk|      time|vertical_speed|
+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
|         BALL|         N/A|         N/A|   54800| HBAL604|                     N/A|           9|    180|    A2680B|2d81d336| 27.3628|  -84.028|   N/A|        0|                N/A|      N254TH|   N/A|1664119986|             0|
|         GLID|         N/A|         N/A|     764| BPOLTWR|                     N/A|           1|    322|    D00804|2d89196d| 51.3605|    9.502|   N/A|        0|                N/A|     BPOLTWR|   N/A|1664119978|             0|
|         GLID|         N/A|         N/A|    2290| WINDRAD|                     N/A|           1|    211|    D017B3|2d8919ab| 51.2545|     9.66|   N/A|        0|                N/A|     WINDRAD|   N/A|1664119932|             0|
|          N/A|         N/A|         N/A|    2188| WINDRAD|                     N/A|           1|    271|    D0183D|2d8d0da2| 51.2371|   9.7025|   N/A|        0|                N/A|         N/A|   N/A|1664119954|             0|
|          N/A|         N/A|         N/A|       0|     N/A|                     N/A|           0|    349|    4A7C1A|2d8f3e01|  44.572|  26.1091|   N/A|        1|                N/A|         N/A|   N/A|1664119987|             0|
|          N/A|         N/A|         N/A|       0|     N/A|                     N/A|          40|     87|    4A7C14|2d92772c|  44.579|  26.0989|   N/A|        1|                N/A|         N/A|   N/A|1664119989|             0|
|         GLID|         N/A|         N/A|     370| FOXTRAN|                     N/A|           1|    180|  104AFFFF|2d92be0a| 52.1006|  21.0021|   N/A|        0|                N/A|     FOXTRAN|   N/A|1664119977|             0|
|         GLID|         N/A|         N/A|    1932| WINDRAD|                     N/A|           1|     26|    D017AE|2d95d833| 51.4372|  10.2092|   N/A|        0|                N/A|     WINDRAD|   N/A|1664119985|             0|
|         GRND|         N/A|         N/A|       0|  ESC724|                     N/A|           0|    271|    C1E4A9|2d967d10| 45.4566| -73.7271|   N/A|        1|                N/A|         N/A|   N/A|1664119968|             0|
|         GLID|         N/A|         N/A|    1322| WINDRAD|                     N/A|           1|     89|    D0111B|2d96d887| 51.8281|  10.1177|   N/A|        0|                N/A|     WINDRAD|   N/A|1664119952|            64|
|         GRND|         N/A|         N/A|    1742| WINDRAD|                     N/A|           1|     89|    D011E6|2d96e0ad|  51.246|    9.524|   N/A|        0|                N/A|         N/A|   N/A|1664119976|             0|
|         GLID|         N/A|         N/A|    1630| WINDRAD|                     N/A|           1|    180|    D0108D|2d96e961| 51.5116|   9.7441|   N/A|        0|                N/A|     WINDRAD|   N/A|1664119961|             0|
|         B763|          FX|         FDX|       0|  FDX885|                     N/A|           0|    180|    A13767|2d970a4b| 35.0595| -89.9571| FX885|        1|                MEM|      N178FE|   N/A|1664119987|             0|
|         AS50|         N/A|         N/A|    3275|  N350FS|                     N/A|         110|     89|    A3E55B|2d97bfac| 36.0657|-114.4138|   N/A|        0|                LAS|      N350FS|   N/A|1664119985|           256|
|         GRND|         N/A|         N/A|       0|    T643|                     N/A|           0|    342|    3C3FE7|2d97f981| 52.3626|  13.5071|   N/A|        1|                N/A|         N/A|   N/A|1664119903|             0|
|         GLID|         N/A|         N/A|    1784| WINDRAD|                     N/A|           1|    271|    D01845|2d980483| 49.5209|   9.5216|   N/A|        0|                N/A|     WINDRAD|   N/A|1664119970|             0|
|         B77L|          FX|         FDX|       0|   FDX97|                     IND|           0|    135|    ABE959|2d982617| 39.7015| -86.2953|  FX97|        1|                CGN|      N867FD|   N/A|1664119987|             0|
|         A320|          F9|         FFT|   39000|  FFT710|                     HOU|         473|    136|    A1BDC6|2d983e05| 32.4524| -98.0627| F9710|        0|                DEN|      N211FR|   N/A|1664119986|             0|
|         MD11|          FX|         FDX|       0| FDX3702|                     OAK|           0|    129|    A801D3|2d98736a|  37.717|-122.2178|FX3702|        1|                IND|      N615FE|   N/A|1664119985|             0|
|         GRND|         N/A|         N/A|       0|      E1|                     N/A|           0|    180|    3C4202|2d9883b9| 49.4943|  11.0818|   N/A|        1|                N/A|          E1|   N/A|1664119988|             0|
+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
only showing top 20 rows

In [220]:
nb_flights_destination = flights_df.filter(flights_df.destination_airport_iata != 'N/A').groupBy('destination_airport_iata').count().sort(desc("count"))

In [223]:
nb_flights_destination.show(5)

+------------------------+-----+
|destination_airport_iata|count|
+------------------------+-----+
|                     LAX|   70|
|                     JFK|   63|
|                     ORD|   40|
|                     SFO|   36|
|                     YYZ|   33|
+------------------------+-----+
only showing top 5 rows

In [225]:
airports_df.show(2)

+--------------------+----+----+---------+---------+-------+----+
|                name|iata|icao|      lat|      lon|country| alt|
+--------------------+----+----+---------+---------+-------+----+
|\tMasai Mara Keek...| KEU|HKKE|-1.586377|35.257462|  Kenya|5532|
|    A Coruna Airport| LCG|LECO|43.302059| -8.37725|  Spain| 326|
+--------------------+----+----+---------+---------+-------+----+
only showing top 2 rows

In [232]:
nb_flights_destination.join(airports_df, nb_flights_destination.destination_airport_iata == airports_df.iata, "inner").sort(desc("count")).show(2)

+------------------------+-----+--------------------+----+----+---------+-----------+-------------+---+
|destination_airport_iata|count|                name|iata|icao|      lat|        lon|      country|alt|
+------------------------+-----+--------------------+----+----+---------+-----------+-------------+---+
|                     LAX|   70|Los Angeles Inter...| LAX|KLAX| 33.94252|-118.406998|United States|125|
|                     JFK|   63|New York John F. ...| JFK|KJFK|40.639751|   -73.7789|United States| 14|
+------------------------+-----+--------------------+----+----+---------+-----------+-------------+---+
only showing top 2 rows

In [231]:
nb_flights_destination.show(2)

+------------------------+-----+
|destination_airport_iata|count|
+------------------------+-----+
|                     LAX|   70|
|                     JFK|   63|
+------------------------+-----+
only showing top 2 rows

In [233]:
nb_flights_destination = flights_df.filter(flights_df.destination_airport_iata != 'N/A').groupBy('destination_airport_iata').count().withColumnRenamed("count", "destination_nb_flight")

In [235]:
nb_flights_origin = flights_df.filter(flights_df.origin_airport_iata != 'N/A').groupBy('origin_airport_iata').count().withColumnRenamed("count", "origin_nb_flight")

In [236]:
nb_flights_origin.show(5)

+-------------------+----------------+
|origin_airport_iata|origin_nb_flight|
+-------------------+----------------+
|                YUL|               2|
|                NWI|               1|
|                AUH|              12|
|                JED|               5|
|                FRA|              52|
+-------------------+----------------+
only showing top 5 rows

In [239]:
difference_flights_airports = nb_flights_destination.join(nb_flights_origin, nb_flights_destination.destination_airport_iata == nb_flights_origin.origin_airport_iata, "inner")

In [241]:
difference_flights_airports = difference_flights_airports.withColumn("inbound/outbound", difference_flights_airports.destination_nb_flight - difference_flights_airports.origin_nb_flight)

In [245]:
best_positive = difference_flights_airports.sort(desc("inbound/outbound")).collect()[0]["destination_airport_iata"]
best_negative = difference_flights_airports.sort(asc("inbound/outbound")).collect()[0]["destination_airport_iata"]

In [248]:
difference_flights_airports.sort(asc("inbound/outbound")).show(2)

+------------------------+---------------------+-------------------+----------------+----------------+
|destination_airport_iata|destination_nb_flight|origin_airport_iata|origin_nb_flight|inbound/outbound|
+------------------------+---------------------+-------------------+----------------+----------------+
|                     LHR|                   20|                LHR|              60|             -40|
|                     CDG|                   14|                CDG|              52|             -38|
+------------------------+---------------------+-------------------+----------------+----------------+
only showing top 2 rows

In [246]:
best_positive

'LAX'

In [247]:
best_negative

'LHR'

In [251]:
zones['europe']

{'tl_y': 72.57,
 'tl_x': -16.96,
 'br_y': 33.57,
 'br_x': 53.05,
 'subzones': {'poland': {'tl_y': 56.86,
   'tl_x': 11.06,
   'br_y': 48.22,
   'br_x': 28.26},
  'germany': {'tl_y': 57.92, 'tl_x': 1.81, 'br_y': 45.81, 'br_x': 16.83},
  'uk': {'tl_y': 62.61,
   'tl_x': -13.07,
   'br_y': 49.71,
   'br_x': 3.46,
   'subzones': {'london': {'tl_y': 53.06,
     'tl_x': -2.87,
     'br_y': 50.07,
     'br_x': 3.26},
    'ireland': {'tl_y': 56.22, 'tl_x': -11.71, 'br_y': 50.91, 'br_x': -4.4}}},
  'spain': {'tl_y': 44.36, 'tl_x': -11.06, 'br_y': 35.76, 'br_x': 4.04},
  'france': {'tl_y': 51.07, 'tl_x': -5.18, 'br_y': 42.17, 'br_x': 8.9},
  'ceur': {'tl_y': 51.39, 'tl_x': 11.25, 'br_y': 39.72, 'br_x': 32.55},
  'scandinavia': {'tl_y': 72.12, 'tl_x': -0.73, 'br_y': 53.82, 'br_x': 40.67},
  'italy': {'tl_y': 47.67, 'tl_x': 5.26, 'br_y': 36.27, 'br_x': 20.64}}}

In [250]:
zones

{'europe': {'tl_y': 72.57,
  'tl_x': -16.96,
  'br_y': 33.57,
  'br_x': 53.05,
  'subzones': {'poland': {'tl_y': 56.86,
    'tl_x': 11.06,
    'br_y': 48.22,
    'br_x': 28.26},
   'germany': {'tl_y': 57.92, 'tl_x': 1.81, 'br_y': 45.81, 'br_x': 16.83},
   'uk': {'tl_y': 62.61,
    'tl_x': -13.07,
    'br_y': 49.71,
    'br_x': 3.46,
    'subzones': {'london': {'tl_y': 53.06,
      'tl_x': -2.87,
      'br_y': 50.07,
      'br_x': 3.26},
     'ireland': {'tl_y': 56.22, 'tl_x': -11.71, 'br_y': 50.91, 'br_x': -4.4}}},
   'spain': {'tl_y': 44.36, 'tl_x': -11.06, 'br_y': 35.76, 'br_x': 4.04},
   'france': {'tl_y': 51.07, 'tl_x': -5.18, 'br_y': 42.17, 'br_x': 8.9},
   'ceur': {'tl_y': 51.39, 'tl_x': 11.25, 'br_y': 39.72, 'br_x': 32.55},
   'scandinavia': {'tl_y': 72.12, 'tl_x': -0.73, 'br_y': 53.82, 'br_x': 40.67},
   'italy': {'tl_y': 47.67, 'tl_x': 5.26, 'br_y': 36.27, 'br_x': 20.64}}},
 'northamerica': {'tl_y': 75,
  'tl_x': -180,
  'br_y': 3,
  'br_x': -52,
  'subzones': {'na_n': {'tl_y': 72.82,
    'tl_x': -177.97,
    'br_y': 41.92,
    'br_x': -52.48},
   'na_c': {'tl_y': 54.66,
    'tl_x': -134.68,
    'br_y': 22.16,
    'br_x': -56.91,
    'subzones': {'na_cny': {'tl_y': 45.06,
      'tl_x': -83.69,
      'br_y': 35.96,
      'br_x': -64.29},
     'na_cla': {'tl_y': 37.91,
      'tl_x': -126.12,
      'br_y': 30.21,
      'br_x': -110.02},
     'na_cat': {'tl_y': 35.86, 'tl_x': -92.61, 'br_y': 22.56, 'br_x': -71.19},
     'na_cse': {'tl_y': 49.12,
      'tl_x': -126.15,
      'br_y': 42.97,
      'br_x': -111.92},
     'na_nw': {'tl_y': 54.12, 'tl_x': -134.13, 'br_y': 38.32, 'br_x': -96.75},
     'na_ne': {'tl_y': 53.72, 'tl_x': -98.76, 'br_y': 38.22, 'br_x': -57.36},
     'na_sw': {'tl_y': 38.92, 'tl_x': -133.98, 'br_y': 22.62, 'br_x': -96.75},
     'na_se': {'tl_y': 38.52, 'tl_x': -98.62, 'br_y': 22.52, 'br_x': -57.36},
     'na_cc': {'tl_y': 45.92,
      'tl_x': -116.88,
      'br_y': 27.62,
      'br_x': -75.91}}},
   'na_s': {'tl_y': 41.92, 'tl_x': -177.83, 'br_y': 3.82, 'br_x': -52.48}}},
 'southamerica': {'tl_y': 16, 'tl_x': -96, 'br_y': -57, 'br_x': -31},
 'oceania': {'tl_y': 19.62, 'tl_x': 88.4, 'br_y': -55.08, 'br_x': 180},
 'asia': {'tl_y': 79.98,
  'tl_x': 40.91,
  'br_y': 12.48,
  'br_x': 179.77,
  'subzones': {'japan': {'tl_y': 60.38,
    'tl_x': 113.5,
    'br_y': 22.58,
    'br_x': 176.47}}},
 'africa': {'tl_y': 39, 'tl_x': -29, 'br_y': -39, 'br_x': 55},
 'atlantic': {'tl_y': 52.62, 'tl_x': -50.9, 'br_y': 15.62, 'br_x': -4.75},
 'maldives': {'tl_y': 10.72, 'tl_x': 63.1, 'br_y': -6.08, 'br_x': 86.53},
 'northatlantic': {'tl_y': 82.62, 'tl_x': -84.53, 'br_y': 59.02, 'br_x': 4.45}}

In [260]:
zones.keys()

dict_keys(['europe', 'northamerica', 'southamerica', 'oceania', 'asia', 'africa', 'atlantic', 'maldives', 'northatlantic'])

In [273]:
spark.createDataFrame(fr_api.get_flights()).count()

1500

In [274]:
bounds = fr_api.get_bounds(zones['asia'])

In [270]:
flights = fr_api.get_flights(bounds=fr_api.get_bounds(zones['asia']))

In [283]:
df_southamerica = spark.createDataFrame(fr_api.get_flights(bounds=fr_api.get_bounds(zones['southamerica'])))

In [285]:
df_southamerica.show(1)

+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
|aircraft_code|airline_iata|airline_icao|altitude|callsign|destination_airport_iata|ground_speed|heading|icao_24bit|      id|latitude|longitude|number|on_ground|origin_airport_iata|registration|squawk|      time|vertical_speed|
+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
|         GLF5|         N/A|         N/A|   47000|    GLF5|                     N/A|         471|      2|       N/A|2d9b4845|    4.52|    -79.7|   N/A|        0|                N/A|         N/A|   N/A|1664141174|           -64|
+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
only showing top 1 row

In [308]:
len(fr_api.get_flights(bounds=fr_api.get_bounds(zones['asia'])))

1276

In [335]:
df_southamerica = spark.createDataFrame(fr_api.get_flights(bounds=fr_api.get_bounds(zones['europe'])))

df_southamerica.filter((df_southamerica.destination_airport_iata != 'N/A') & (df_southamerica.origin_airport_iata != 'N/A')).count()

1441

In [341]:
airports_df.where(airports_df.iata=)

+--------------------+----+----+---------+---------+-------+----+
|                name|iata|icao|      lat|      lon|country| alt|
+--------------------+----+----+---------+---------+-------+----+
|\tMasai Mara Keek...| KEU|HKKE|-1.586377|35.257462|  Kenya|5532|
+--------------------+----+----+---------+---------+-------+----+
only showing top 1 row

In [339]:
df_southamerica.filter((df_southamerica.destination_airport_iata != 'N/A') & (df_southamerica.origin_airport_iata != 'N/A')).show(30)

+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
|aircraft_code|airline_iata|airline_icao|altitude|callsign|destination_airport_iata|ground_speed|heading|icao_24bit|      id|latitude|longitude|number|on_ground|origin_airport_iata|registration|squawk|      time|vertical_speed|
+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
|         GL5T|         N/A|         N/A|   45000|  N404NA|                     SID|         438|    216|    A4BCAA|2d9b3d8c|   34.34|   -14.06|   N/A|        0|                MAD|      N404NA|   N/A|1664142917|             0|
|         C25A|         N/A|         FXT|   43000|  FXT52W|                     BRU|         364|     36|    45AA77|2d9b4662|    46.0|    -2.19|   N/A|        0|                LIS|      OY-JSW|   N/A|1664142916|             0|
|         C25A|         N/A|         BNJ|   43000|   OOACC|                     BRU|         390|    323|    448463|2d9b4c90|   46.69|    14.68|   N/A|        0|                CFU|      OO-ACC|   N/A|1664142917|             0|
|         B738|         N/A|         ENT|   41000| ENT55JF|                     RHO|         504|    116|    489226|2d9b5960|   44.99|    14.42|   N/A|        0|                LUX|      SP-ESG|   N/A|1664142914|           -64|
|         B38M|         N/A|         TUI|   41000|  TOM6VT|                     HER|         464|    130|    40796B|2d9b64ee|   49.43|     4.56|   N/A|        0|                LGW|      G-TUMM|   N/A|1664142917|             0|
|         A333|          TK|         THY|   41000|  THY2HG|                     IST|         481|    120|    4BA9E7|2d9b604e|   50.66|     12.7|TK1956|        0|                AMS|      TC-JOG|   N/A|1664142917|            64|
|         B738|          QS|         TVS|   41000| TVS4534|                     GUW|         510|    108|    49D287|2d9b1b46|   41.34|    45.16|QS4534|        0|                BUD|      OK-TVV|   N/A|1664142916|          -128|
|         B789|          SV|         SVA|   41000|  SVA372|                     JED|         544|     93|    71011E|2d9b4d46|   36.48|     6.86| SV372|        0|                CMN|      HZ-ARE|   N/A|1664142915|             0|
|         B738|          FR|         RYR|   41000| RYR23MK|                     PMI|         448|    199|    4CA226|2d9b6ad8|   45.78|     5.82|FR4140|        0|                HHN|      EI-DCJ|   N/A|1664142916|             0|
|         B738|          FR|         RYR|   41000|  RYR1WT|                     IBZ|         457|    172|    4CA242|2d9b4f2a|   44.11|     1.69|FR2626|        0|                MAN|      EI-DCL|   N/A|1664142917|           -64|
|         B788|          QR|         QTR|   40975|   QTR9V|                     DOH|         530|    143|    06A0B8|2d9af2ca|   35.55|    43.38|  QR72|        0|                FRA|      A7-BCT|   N/A|1664142918|             0|
|         B788|          WY|         OMA|   40975|  OMA124|                     MCT|         532|    118|    70C0CE|2d9b4544|   44.15|    26.23| WY124|        0|                MUC|      A4O-SB|   N/A|1664142916|             0|
|         E550|          CD|         CDX|   40000|  CDX553|                     BEY|         389|    264|    748053|2d9b6fe2|   40.01|    42.01|CDX553|        0|                EVN|      OD-CXL|   N/A|1664142915|           -64|
|         A333|          MB|         MNB|   40000|  MNB631|                     LGG|         422|    308|    4BB46E|2d9b5ce9|    43.6|    24.83| MB631|        0|                IST|      TC-MCN|   N/A|1664142915|             0|
|         A339|          6O|         EVE|   40000|  OBS102|                     MAD|         416|    296|    495168|2d9abeca|   37.86|    17.94| 6O102|        0|                DWC|      CS-TKH|   N/A|1664142915|             0|
|         A332|          2S|         STW|   40000| STW1824|                     AYT|         407|    276|    4B9E41|2d9b1a71|   41.49|     45.3|2S1824|        0|                KZN|      TC-GRA|   N/A|1664142916|             0|
|         A332|          KF|         CMA|   40000|  ABB662|                     LGG|         484|    307|    448532|2d9b14c8|   39.43|    38.63| KF662|        0|                DWC|      OO-AIR|   N/A|1664142918|             0|
|         E550|         N/A|         FJO|   40000|  FJO52R|                     LTN|         370|     33|    4D23CF|2d9b3e24|   48.52|    -2.22|   N/A|        0|                FAO|      9H-RFX|   N/A|1664142916|             0|
|         B38M|          OR|         TUI|   40000|  TFL1TN|                     AMS|         390|     31|    485A85|2d9afa06|   49.48|     1.97|OR1623|        0|                TFS|      PH-TFT|   N/A|1664142917|            64|
|         B38M|          FI|         ICE|   40000|  ICE325|                     KEF|         458|    286|    4CC547|2d9b5e2c|   61.88|     0.88| FI325|        0|                OSL|      TF-ICR|   N/A|1664142916|             0|
|         A332|          LS|         EXS|   40000|  EXS84H|                     MAN|         433|     21|    406E9F|2d9b3a98|   41.07|   -11.47| LS918|        0|                TFS|      G-VYGM|   N/A|1664142917|             0|
|         A359|          AY|         FIN|   40000|   FIN42|                     HEL|         416|    280|    461F53|2d9a054c|   41.39|     46.1|  AY42|        0|                ICN|      OH-LWL|   N/A|1664142916|             0|
|         H25B|         N/A|         N/A|   40000| LLT108E|                     RIX|         342|    278|    503D1A|2d9b487c|    42.2|    35.07|   N/A|        0|                TBS|      LY-BGH|   N/A|1664142915|            64|
|         A359|          AY|         FIN|   40000|  FIN132|                     HEL|         449|    317|    461F4B|2d9a3505|    39.7|    49.03| AY132|        0|                SIN|      OH-LWD|   N/A|1664142916|             0|
|         B738|          XQ|         SXS|   39875|  SXS5EA|                     ASR|         459|    132|    4BCDFA|2d9b4648|   43.75|    22.32| XQ761|        0|                STR|      TC-SOZ|   N/A|1664142916|           832|
|         A388|          EK|         UAE|   39375| UAE46HN|                     DXB|         505|    118|    896183|2d9b1236|   42.38|    29.62|  EK32|        0|                LHR|      A6-EED|   N/A|1664142916|           640|
|         C650|         N/A|         N/A|   39050|   CNSRA|                     RAK|         350|    227|    020137|2d9b609b|   39.51|    -0.45|   N/A|        0|                TLS|      CN-SRA|   N/A|1664142914|             0|
|         A319|          BA|         BAW|   39050|  BAW582|                     MXP|         473|    131|    400B84|2d9b5d76|   47.22|     4.42| BA582|        0|                LHR|      G-DBCF|   N/A|1664142917|            64|
|         A320|          W6|         WZZ|   39025| WZZ2176|                     KTW|         478|    137|    471F8A|2d9b5c8c|    54.4|    13.28|W61222|        0|                SVG|      HA-LYO|   N/A|1664142916|           -64|
|         B752|          D0|         DHK|   39025| DHK2213|                     LEJ|         477|     89|    400666|2d9b6b45|   52.09|     2.82|D02213|        0|                LTN|      G-BMRD|   N/A|1664142916|           -64|
+-------------+------------+------------+--------+--------+------------------------+------------+-------+----------+--------+--------+---------+------+---------+-------------------+------------+------+----------+--------------+
only showing top 30 rows

In [334]:
zones.keys()

dict_keys(['europe', 'northamerica', 'southamerica', 'oceania', 'asia', 'africa', 'atlantic', 'maldives', 'northatlantic'])

In [329]:
details = fr_api.get_flight_details(flights[0].id)
print(flights[0].set_flight_details(details))

None